.challengecard {
  height: 100vh;
  display: grid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.challenge {
  display: grid;
  padding: 0rem 2rem 2rem 2rem;
}

.imagechallenge {
  min-width: 100vw;
  max-width: 100vw;
}

.container-validation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.challengevalidation {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  background-color: rgba(128, 128, 128, 0.278);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 50%;
  height: 30%;
  min-height: 60px;
  max-width: 360px;
}
