.list-card-challenge {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 2rem 0rem 0rem 0rem;
}
.challenges-card {
  display: grid;
  grid-template-columns: 50fr 1fr;
  padding: 0.5rem;
  margin: 0rem 0.7rem 0rem 0.7rem;
  border-radius: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
}
.challenges-card:active {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}
.title-and-level-challenges {
  display: grid;
  grid-template-rows: 2fr 1fr;
}
.time-and-point-challenges {
  display: grid;
  text-align: center;
}
.title-challenge {
  margin: 0;
  font-size: 15px;
}
.level-challenge {
  font-size: 10px;
  margin: 0;
}
.description-challenge {
  font-size: 10px;
  margin: 0;
}
.time-challenge {
  font-size: 10px;
  margin: 0;
}
.logo-time {
  width: 15px;
  height: 15px;
}
.logo-and-time {
  display: grid;
  grid-template-columns: 20px 40px;
  justify-content: center;
  align-items: center;
}
.score-challenge {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.button-card {
  all: unset;
}
