.header-rank {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 0.2rem 0.2rem 0rem 0rem;
  background-color: rgb(169, 176, 184);
  color: white;
}

.header-rank-title {
  padding: 0.5rem 0rem 0.5rem 0rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-classement {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 0.4rem 0.4rem 0rem 0rem;
  background-color: rgb(41, 107, 149);
}
.active {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 0.4rem 0.4rem 0rem 0rem;
  background-color: rgb(220, 151, 48);
}

.title-classement:hover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 0.4rem 0.4rem 0rem 0rem;
  background-color: rgb(220, 151, 48);
}

.table {
  width: 100%;
  margin-bottom: 1rem;
}

.container-classement {
  margin: 0rem 0rem 1.5rem 0rem;
  padding: 0rem 0rem 1rem 0rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(104, 97, 236) 0%,
    rgba(7, 117, 153, 1) 100%,
    rgba(9, 87, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container-player-team {
  margin: 0rem 0.5rem 0rem 0.5rem;
  background-color: rgb(235, 238, 241);
}

.player {
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 0.5rem;
  margin: 0rem 0.7rem 0rem 0.7rem;
  border-radius: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 5px 5px 15px 7px rgba(0, 0, 0, 0),
    -5px -5px 15px 7px rgba(0, 0, 0, 0.1);
}

.body-player {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1rem 0rem 1rem 0rem;
}
