* {
  margin: 0;
}

html,
body {
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #de5021;
  max-height: 4rem;
  padding: 0.7rem;
}

.home {
  max-width: 27px;
}
.target {
  max-width: 27px;
}
.classement {
  max-width: 27px;
}
.tips {
  max-width: 27px;
}
.buttonnav {
  border: none;
  background-color: #de5021;
}
