* {
  margin: 0;
}

html,
body {
  height: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #de5021;
  cursor: pointer;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-top: rgba(128, 128, 128, 0.511) 1px solid;
}

.home-is-active {
  max-width: 24px;
  color: white;
}
.home-isnot-active {
  max-width: 20px;
  color: grey;
}
.target {
  max-width: 24px;
}
.classement {
  max-width: 24px;
}
.tips {
  max-width: 24px;
}
.button-nav {
  background-color: #de5021;
  cursor: pointer;
  min-height: 3rem;
  text-align: center;
}
