.header-app {
  display: grid;
  grid-template-columns: 10fr 1fr;
  padding: 0.2rem 0.7rem 0rem 0.7rem;
  border-bottom: 1px solid #ccc;
}
.logo-sankliche {
  max-width: 3rem;
}
.button-profil {
  background-color: white;
  border: none;
  margin: 0;
  padding: 0;
}
.link-profil {
  display: grid;
  align-items: center;
  text-align: end;
}
.profil {
  width: 27px;
  height: 27px;
}
