.header-app {
  display: grid;
  grid-template-columns: 10fr 1fr;
  padding: 0.2rem 0.7rem 0rem 0.7rem;
  border-bottom: 1px solid #ccc;
}
.logo-sankliche {
  max-width: 3rem;
}
.button-profil {
  background-color: rgba(128, 128, 128, 0.225);
  border-radius: 5rem;
  padding: 0.25rem;
}
.link-profil {
  display: grid;
  align-items: center;
  text-align: end;
}
.profil {
  width: 24px;
  height: 24px;
}

.popup {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.button-popup {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: #de5021;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
